<a href="https://colab.research.google.com/gist/VoHuynhDuyThanh/8ed202acaf4bbf04d37627caea8c9cd5/untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import numpy as np
time_index = pd.date_range('01/01/2023',periods = 100000, freq = '30s')
dataframe=pd.DataFrame(index=time_index)
dataframe['Acess_Amount'] = np.random.randint(1,10,100000)
dataframe.resample('W').sum()

            Acess_Amount
2023-01-01         14453
2023-01-08        100826
2023-01-15        100751
2023-01-22        101162
2023-01-29        101095
2023-02-05         82804

In [9]:
#Tìm số huy chương của 1 quốc gia
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv(url)
data

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold
...,...,...,...,...,...,...,...,...
2306,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
2307,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
2308,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
2309,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
2310,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [10]:
print('Số huy chương vàng đạt được: ',data[(data['NOC']=='USA')&(data['Medal']=='Gold')].count())

Số huy chương vàng đạt được:  Year            78
City            78
Sport           78
Discipline      78
NOC             78
Event           78
Event gender    78
Medal           78
dtype: int64

In [11]:
data=data.set_index(data['NOC'])
data.loc['USA']

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
NOC,,,,,,,,
USA,1924,Chamonix,Ice Hockey,Ice Hockey,USA,ice hockey,M,Silver
USA,1924,Chamonix,Skating,Figure skating,USA,individual,W,Silver
USA,1924,Chamonix,Skating,Speed skating,USA,500m,M,Gold
USA,1924,Chamonix,Skiing,Ski Jumping,USA,K90 individual (70m),M,Bronze
USA,1928,St. Moritz,Bobsleigh,Bobsleigh,USA,five-man,M,Gold
...,...,...,...,...,...,...,...,...
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Silver
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Gold
USA,2006,Turin,Skiing,Snowboard,USA,Half-pipe,W,Silver
USA,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,M,Gold
USA,2006,Turin,Skiing,Snowboard,USA,Snowboard Cross,W,Silver

In [12]:
data=data.set_index(data['NOC'])
data.loc['USA']
print('Số huy chương Mỹ đạt được: ',data[(data['NOC']=='USA')&(data['Medal'])].count())

Số huy chương Mỹ đạt được:  Year            216
City            216
Sport           216
Discipline      216
NOC             216
Event           216
Event gender    216
Medal           216
dtype: int64